html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Taviraj', serif;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #19B068;
  background-size: 100%;
}

h1 {
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
}

.wrapper {
  border: 5px solid black;
}

.submit-area {
  align-items: center;
  flex-direction: column;
}

.info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info p {
  max-width: 50%;
  margin: 10px;
}

input {
  margin: 5px;
  width: 90%;
}

.container {
  height: 100%;
  width: 100%;
  /*display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;*/
}

article {
  background-color: #3498DB;
  border: 2px solid black;
  color: black;
  margin: 5px;
  display: flex
  flex-wrap: wrap;
  justify-content: center;
}

.submit-button,
.clear-read-bookmarks {
  margin: 5px;
}

button {
  margin: 10px;
  background-color: #3C4452;
  color: white;
  font-weight: bold;
}



.link-title,
.url-title {
    margin: 10px 0 0 10px;
}

@media screen and (min-width: 750px){
  body {
    font-family: 'Taviraj', serif;
    color: black;
    /*display: flex;
    align-items: center;
    flex-direction: column;*/
    background-color: #19B068;
    background-size: 100%;
  }

  .wrapper {
    width: 75%;
  }

  .submit-area {
    display: flex;
    flex-direction: row;
  }

  input {
    margin: 5px;
    width: 50%;
  }

  button {
    height: 40px;
  }

}
