html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Secular One', sans-serif;
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #19B068;
  background-size: 100%;
  background-image: linear-gradient(#19B068);
}

h1 {
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
}

.submit-area {
  align-items: center;
  flex-direction: column;
}


input {
  margin: 5px;
  width: 90%;
}

.container {
  height: 600px;
  width: 100%;
  border: 5px solid black;
  /*display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;*/
}

article {
  background-color: blanchedalmond;
  border: 2px solid black;
  margin: 5px;
  display: flex
  flex-wrap: wrap;
  justify-content: center;
}

.submit-button,
.clear-read-bookmarks {
  margin: 5px;
}

button {
  margin: 10px;
  background-color: #C51B15;
  color: white;
  font-weight: bold;
}



.link-title,
.url-title {
    margin: 10px 0 0 10px;
}

@
