html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Taviraj', serif;
  background-color: #19B068;
  background-size: 100%;
}

body,
article {
  color: black;
}

body,
.info,
article {
  display: flex;
}

body,
.submit-area {
  flex-direction: column;
}

body,
.submit-area,
.info {
  align-items: center;
}

h1 {
  font-size: 50px;
  margin-top: 10px;
  text-align: center;
}

.wrapper {
  border: 5px solid black;
}

article,
.info {
  justify-content: center;
}

.info p {
  max-width: 50%;
  margin: 10px;
}

input {
  width: 90%;
}

.container {
  height: 100%;
  width: 100%;
}

article {
  background-color: #3498DB;
  border: 2px solid black;
  flex-wrap: wrap;
}

article,
input,
.submit-button,
.clear-read-bookmarks, {
  margin: 5px;
}

button {
  margin: 10px;
  background-color: #3C4452;
  color: white;
  font-weight: bold;
}

.link-title,
.url-title {
    margin: 10px 0 0 10px;
}

@media screen and (min-width: 750px){
  body {
    font-family: 'Taviraj', serif;
    color: black;
    background-color: #3498DB;
    background-size: 100%;
  }

  article {
    background-color: #19B068;
  }

  .wrapper {
    width: 75%;
  }

  .submit-area {
    display: flex;
    flex-direction: row;
  }

  input {
    margin: 5px;
    width: 50%;
  }

  button {
    height: 40px;
  }

}
